<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="GRAYLOG" class="com.accesstage.logbackgelf.GelfAppender">
    </appender>

    <logger name="com.accesstage.hikeremissaocomprovcarga" level="INFO">
        <appender-ref ref="GRAYLOG"/>
    </logger>

</configuration>